// xs

main {
    display: flex;
    flex-flow: column;
    height: 100%;
}
section {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.4em;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
}

app-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: .5em;
    padding: .5em;
}
app-topmenu {
    color: white;
    display: flex;
    height: fit-content;
}

app-schema {
    color: white;
    background-color: rgba($color: #7bc6dd, $alpha: 0.25);
    padding: .8em;
    height: 4em;
    width: 4em;
    margin: auto;
    border-radius: 16px;
}

// sm
@media (min-width: 576px) {  }

// md
@media (min-width: 768px) {  }

// lg
@media (min-width: 992px) {  }

// xl
@media (min-width: 1200px) {  }

// xxl
@media (min-width: 1400px) {  }