main {
    display: flex;
    padding: 1em;
    height: 100%;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 8em);
    grid-template-rows: repeat(5, 8em);
    gap: 0.4em;
    justify-content: center;
    align-content: center;
}

app-schema, app-menu {
        background-color: rgba($color: #7bc6dd, $alpha: 0.25);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border-radius: 16px;
}
app-menu {
    height: fit-content;
}
app-schema {
    width: 100%;
}