@use '@angular/material' as mat;
@include mat.core();
$Dashboard-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));
:root {
  @include mat.all-component-themes($Dashboard-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-position: center;
  background-attachment: fixed;
  background: rgb(50,7,7);
  background: linear-gradient(135deg, rgba(50,7,7,1) 0%, rgba(5,5,5,1) 100%);
  /* Otra opcion -> */
  /* 
  background: rgb(33,0,0);
  background: linear-gradient(135deg, rgba(33,0,0,1) 0%, rgba(0,0,0,1) 100%);
  */
}

